* {
    main-bg:            #1d1e2fcf; 
    main-fg:            #cdd6f4ff;
    main-br:            #cba6f7ff;
    main-ex:            #f5e0dcff;
    select-bg:          #b89dee8a;
    select-fg:          #11111bff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
